& {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $secondary-grey;
  color: white;
  line-height: 48px;
  transition: box-shadow 0.15s ease-out, line-height 0.15s;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
  &.is-online {
    background-color: $primary;
  }
}

.offline {
  color: rgba(white, 0.54);
  cursor: help;
  line-height: 24px;
}

& > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

nav {
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

&.is-floated {
  line-height: 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  .logo a {
    @media screen and (max-width: 425px) {
      width: 32px;
    }
    &:before {
      width: 24px;
      height: 32px;
      background-size: 24px 24px;
    }
  }
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
}

ol.links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  .link {
    a {
      color: #fff;
      text-decoration: none;
      margin: 0 0.4rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
    }

    a:after {
      display: block;
      content: '';
      background: #fff;
      height: 2px;
      position: absolute;
      width: 100%;
      bottom: 0;
      transition: transform 300ms ease-out;
      transform: translateY(3px);
    }

    a.active:after {
      transform: translateY(0);
    }
  }
}

.logo {
  margin-right: 0.6rem;

  a {
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    line-height: 2rem;

    &:before {
      display: block;
      content: '';
      background: url('/assets/images/ember-hn-inverted1x.png') no-repeat center
        center;

      @media (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 3 / 2),
        (min-device-pixel-ratio: 2) {
        background: url('/assets/images/ember-hn-inverted@2x.png') no-repeat
          center center;
        background-size: 32px 32px;
      }

      background-size: 32px 32px;
      width: 32px;
      height: 32px;
      margin-right: 0.5rem;
      transition: width 0.15s ease-out, height 0.15s ease-out,
        background-size 0.15s ease-out;
    }
  }

  @media screen and (max-width: 425px) {
    a {
      width: 32px;
      &:before {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }
}

/*.item {
  height: 100%;
}

.item:last-child {
  flex-grow: 1;
  text-align: right;
}*/
