<ol class="links">
  <li class="link logo">
    {{#link-to "index"}}
      Logo
    {{/link-to}}
  </li>

  <li class="link">{{#link-to "new"}}New{{/link-to}}</li>
  <li class="link">{{#link-to "show"}}Show{{/link-to}}</li>
  <li class="link">{{#link-to "ask"}}Ask{{/link-to}}</li>
  <li class="link">{{#link-to "jobs"}}Jobs{{/link-to}}</li>
  <li class="link">{{#link-to "about"}}About{{/link-to}}</li>
</ol>