<nav>
  <ol class="links">
    <li class="logo">
      {{#link-to "index"}}<span>Ember HN</span>{{/link-to}}
    </li>

    <li class="link">{{#link-to "index"}}top{{/link-to}}</li>
    <li class="link">{{#link-to "new"}}new{{/link-to}}</li>
    <li class="link">{{#link-to "show"}}show{{/link-to}}</li>
    <li class="link">{{#link-to "ask"}}ask{{/link-to}}</li>
    <li class="link">{{#link-to "jobs"}}jobs{{/link-to}}</li>
  </ol>

  <ol class="links">
    <li class="link">{{#link-to "about"}}about{{/link-to}}</li>
  </ol>
</nav>