$font-size: 16px;
$primary: #CE412C;

$secondary-grey: darken(white, 54%);
$divider-grey: rgba(black, 0.06);

// The two possible colors for overlayed text.
$color-dark-contrast: white !default;
$color-light-contrast: black !default;

$color-primary-contrast: $color-dark-contrast !default;

/* ANIMATION */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;

/* PROGRESS */
$progress-main-color: $primary;
$progress-secondary-color: rgba($progress-main-color, 0.7);
$progress-fallback-buffer-color: rgba($progress-main-color, 0.9);
$bar-height: 4px !default;
