// @import "reset";
@import "variables";
@import "interface/progress";

html, body {
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  box-sizing: border-box;
}

html * {
  box-sizing: border-box;
}

body {
  margin-top: 48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p.secondary {
  color: $secondary-grey;
}

.Items {
  max-width: 1200px;
  margin: 0 auto;
}

.Container {
  padding: 0 1rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.Loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

article.Item {
  max-width: 720px;
  padding: 1rem 0;

  a {
    font-weight: 400;
    margin-bottom: .5rem;
    line-height: 1.2;
    text-decoration: none;
    color: #000;

    &:visited {
      color: rgba(black, 0.54);
    }
  }

  > header {
    padding-bottom: 1rem;
  }

  h2 {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.1rem;
    margin: 0;

    span.domain {
      font-size: 1rem;
    }
  }

}

article.Comment {
  font-size: 0.9rem;

  header {
    display: flex;
    flex-flow: horizontal nowrap;

    .user {
      color: $primary;
      margin-right: 0.5rem;

      i.icon {
        width: 16px;
        height: 16px;;
        background-size: 16px 16px;
        background-image: url("/assets/images/ic_person_black_24px.svg");
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        text-indent: -999px;
        overflow: hidden;
        vertical-align: text-bottom;
      }
    }
  }

  .content {
    padding-left: 1.2rem;
  }

  p:first-child {
    margin-top: 0;
  }

  article.Comment {
    padding-left: 1rem;
  }
}

foo.reset {
  color: black;
}

@import "pod-styles";
