@import "reset";
@import "variables";

html, body {
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  font-size: $font-size;
}

body {
  margin-top: 48px;
}

.Items {
  max-width: 1200px;
  margin: 0 auto;
}

@import "pod-styles";
