& {
  display: flex;
  flex-flow: horizontal nowrap;
  border-bottom: 1px solid $divider-grey;

  &:first-of-type {
    // padding-top: 4.5rem;
  }
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
}

span.domain {
  font-size: 1rem;
}

span.index {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: rgba(black, 0.24);
  text-align: right;
  min-width: 2rem;
}

p {
  margin: 0;
  line-height: 1.5rem;
}

a {
  // display: block;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.2;
  text-decoration: none;
  color: #000;

  &:visited {
    color: rgba(black, 0.54);
  }
}

.Comments {
  display: flex;
  flex-flow: horizontal nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background: rgba(black, 0.01);
  flex-basis: 48px;
  border-left: 1px solid $divider-grey;

  a {
    display: block;
  }
}

.metadata > p {
  font-size: .8rem;
  color: #666;
}

.metadata {
  padding: .5rem 0 .5rem 0;
  flex: 1;

  > p {
    display: flex;
    flex-flow: horizontal nowrap;

    span {
      padding-right: 0.5rem;
    }
    // align-items: center;
  }

  span a {
    text-decoration: underline;
  }
}
