<article class="Comment">
  <header>
    <span class="user"><i class="icon">person</i> {{item.user}}</span>
    {{moment-from-now (mult 1000 item.time)}}
  </header>
  <div class="content">{{{item.content}}}</div>

  {{#each item.comments key="id" as |item|}}
    {{partial "comment"}}
  {{/each}}
</article>