<div class="Container">
  <h2>HackerNews reader built in Ember.js</h2>

  <p class="body-2">
    This is an Ember implementation of the HackerNews PWA (Progress Web App) for
    the <a href="https://hnpwa.com" target="_blank">HNPWA</a> project page.
  </p>

  <p class="body">
    Under the hood this is app uses:

    <ul>
      <li>ServiceWorkers for asset caching</li>
      <li>App Manifest</li>
      <li>Ember Fastboot</li>
      <li>Ember Hammertime</li>
      <li>Ember CLI Deploy pipeline</li>
      <li>PostCSS Autoprefixer</li>
    </ul>
  </p>

  <p>Built by <a href="https://twitter.com/ivanderbyl" target="_blank">Ivan Vanderbyl</a></p>
  <p>Source Code <a href="https://github.com/ivanvanderbyl/ember-hackernews-pwa" target="_blank">ivanvanderbyl/ember-hackernews-pwa</a></p>

  <p>This project is open source, contributions welcome :)</p>
</div>