<div class="Loading">
  <div class="mdl-progress mdl-js-progress mdl-progress--indeterminate is-upgraded">
    <div class="progressbar bar bar1"></div>
    <div class="bufferbar bar bar2"></div>
    <div class="auxbar bar bar3"></div>
  </div>
</div>